<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsp.admin.mapper.AuthcMapper" >
  <resultMap id="Authc" type="com.hsp.admin.pojo.Authc" >
    <id column="authc_id" property="authcId" jdbcType="INTEGER" />
    <result column="chain" property="chain" jdbcType="VARCHAR" />
    <result column="defenition" property="defenition" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="search">
  	<if test="authcId != null">
  		AND authc_id=#{authcId}
  	</if>
  	<if test="chain !=null">
  		AND chain=#{chain}
  	</if>
  	<if test="defenition !=null">
  		AND defenition=#{defenition}
  	</if>
  	<if test="createTime !=null">
  		AND create_time=#{createTime}
  	</if>
  </sql>
  <insert id="addAuthc" parameterType="Authc" useGeneratedKeys="true" keyProperty="authcId">
  	INSERT INTO authc (
  		chain,
  		defenition,
  		create_time
  	)
  	VALUES(
  		#{chain},
  		#{defenition},
  		now()
  	)
  </insert>
  
  <select id="getAuthcList" resultMap="Authc">
  	SELECT * FROM authc
  </select>
  
  <select id="getAuthcListByParams" parameterType="com.hsp.core.HMap" resultMap="Authc">
  	SELECT * FROM authc WHERE 1=1
  	<include refid="search"></include>
  	<if test="sort !=null and order != null">
  			ORDER BY #{sort} #{order}
  	</if>
  	<if test="isPagination == true">
  			LIMIT #{pageIndex},#{pageSize}
  	</if>
  </select>
  
  <select id="getAuthcListCountByParams" parameterType="com.hsp.core.HMap" resultType="Integer">
  		SELECT COUNT(authc_id) FROM authc WHERE 1=1
  		<include refid="search"></include>
  </select>
  
  <update id="updateAuthc" parameterType="Authc">
  	UPDATE authc SET
  	<trim suffix="," suffixOverrides=",">
  		<if test="chain !=null">
  			 chain=#{chain},
  		</if>
  		<if test="defenition !=null">
  			 defenition=#{defenition},
  		</if>
  		<if test="createTime !=null">
  			 create_time=#{createTime},
  		</if>
  	</trim>
  	WHERE authc_id=#{authcId}
  </update>
</mapper>